{
 ;:simlayers {:d-mode {:key :left_control}},
 :layers {:caps-mode {:key :caps_lock}},
 :main [{:des "caps-layer: Cursor Movement ijkl"
         :rules [:caps-mode
                 [:##i :up_arrow]
                 [:##j :left_arrow]
                 [:##k :down_arrow]
                 [:##l :right_arrow]]},
        {:des "Ctrl+J - Backspace, Ctrl+K - Delete_Forward",
         :rules [;:d-mode
                 [:!T##j :delete_or_backspace]
                 [:!T##l :delete_forward]]},
        {:des "Ctrl+k  Return/Enter",
         :rules [[:!Tk :return_or_enter]]}]}
;{
;; :simlayers {
;             :d-mode {:key :left_control}
;             }
;
; :layers {
;          :s-mode {:key :caps_lock}
;          :d-mode {:key :left_control}
;          }
;
; :main [
;        {:des "s-layer: Cursor Movement ijkl"
;         :rules [:s-mode
;                 [:##i :up_arrow]
;                 [:##j :left_arrow]
;                 [:##k :down_arrow]
;                 [:##l :right_arrow]
;                 ]
;         }
;        {:des "d-layer: Delete ijkl"
;         :rules [;:d-mode
;                 [:!T##j :delete_or_backspace]
;                 [:!T##l :delete_forward]]
;         }
;        {:des "Ctrl+k  Return/Enter",
;         :rules [[:!Tk :return_or_enter]]
;         }
;        ]
; }
